<app-accueil></app-accueil> 
<div class="card w-50 d-flex justify-content-center mx-auto mt-5 shadow-lg" style="border:none;">
    <div class="card-body bg-light">
        <h5 class="card-title text-dark">Adding Pizza</h5>
        <div class="card-text d-flex flex-column text-dark mx-auto">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            Name : <input type="text" name="name" ngModel #name="ngModel" class="form-control w-50"><br>
            Ingredient : <div class="form-group w-25">
                    <select class="form-control" name="ingredients" id="IngredientID" ngModel #ingredients="ngModel">
                    <option>Tomato</option>
                    <option>Mashroom</option>
                    <option>Calamari</option>
                    <option>Smoked Beef</option>
                    <option>Olives</option>
                    <option>Cheese</option>
                    <option>Bresaola</option>
                    <option>Parmesan</option>
                    <option>Basil</option>
                    </select>
                </div>
                <!-- <span class="badge badge-pill badge-primary">tomato&nbsp;<a><i class="fa fa-times-circle" aria-hidden="true"></i></a></span> -->
                 <!-- Tags  -->
                <div>
                    <input type="file" name="img" ngModel #img="ngModel">
                </div>
            Price : <input type="number" name="price" ngModel #price="ngModel" min="10" max="40" class="form-control w-25" step="any"><br>
            Description  : <br><textarea name="descPizza" id="descPïzza" cols="6" rows="10" ngModel #desc="ngModel" class="form-control w-50 h-25"></textarea><br>
        <div class="d-flex mx-auto w-100 justify-content-between">
            <button type="reset" class="btn btn-danger text-lignt form-control w-25 ml-5" style="color: white;">Cancel</button>
            <button type="submit" class="btn btn-success text-light form-control w-25 mr-5" style="color: white;">Add</button>
        </div>
        </form>
    </div>
</div> 